.header {
    grid-area: h;
    background-color: #ecdc45;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 60px;
}

.loginBlock,
.loginBlock a{
    margin-right: 10px;
    font-size: 18px;
    color: #7345c2;
    font-family: Consolas;
    font-weight: bold;
}