.nav {
    grid-area: n;
    background-color: #a95dff;
    border-left: black solid 3px;
    border-right: black solid 3px;
    border-bottom: black solid 3px;
}

.item {
    text-align: center;
    border-radius: 3px;
    color: #ecdc45;
    padding: 10px 5px 5px 5px;
}
.item:active{
    background-color: #572e9b;
}
.item a {
    width: 100%;
    color: #572e9b;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Consolas;
}

.item a:active{
    color: #ecdc45;
}

