.descriptionBlog {
    background-color: #ecdc45;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: black 3px solid;
    width: 94.5%;
}

.profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: black solid 3px;
    width: 30%;
    height: 100%;
}
.profileImage img{
    width: 100%;
}
.noAvatar {
    width: 50%;
    height: 50%;
    background-color: #7345c2;
    color: #ecdc45;
}