.descriptionBlog {
    background-color: #ecdc45;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: black 3px solid;
    width: 94.5%;
}

.profileImage {
    display: flex;
    justify-content: center;
    background-color: #7345c2;
    align-items: center;
    flex-wrap: wrap;
    border: black solid 5px;
    border-radius: 5px;
    width: 25%;
    height: 100%;
    margin: 10px 10px 10px 15px;
}



.avatar {
    margin: 10px;
    width: 95%;
    color: #ecdc45;
    border-radius: 5px;
}

.imageDownloader{
    margin-bottom: 10px;
    background-color: #ecdc45 ;
    color: rgb(123, 67, 213);
    font-size: 18px;
    font-weight: bold;
    font-family: Consolas;
    border-radius: 5px;
    cursor: pointer;
    border: black solid 3px;
    padding: 2px 5px 2px 5px;
    text-shadow: -0   -3px 0   #000000,
    0   -3px 0   #000000,
    -0    3px 0   #000000,
    0    3px 0   #000000,
    -3px -0   0   #000000,
    3px -0   0   #000000,
    -3px  0   0   #000000,
    3px  0   0   #000000,
    -1px -3px 0   #000000,
    1px -3px 0   #000000,
    -1px  3px 0   #000000,
    1px  3px 0   #000000,
    -3px -1px 0   #000000,
    3px -1px 0   #000000,
    -3px  1px 0   #000000,
    3px  1px 0   #000000,
    -2px -3px 0   #000000,
    2px -3px 0   #000000,
    -2px  3px 0   #000000,
    2px  3px 0   #000000,
    -3px -2px 0   #000000,
    3px -2px 0   #000000,
    -3px  2px 0   #000000,
    3px  2px 0   #000000,
    -3px -3px 0   #000000,
    3px -3px 0   #000000,
    -3px  3px 0   #000000,
    3px  3px 0   #000000,
    -3px -3px 0   #000000,
    3px -3px 0   #000000,
    -3px  3px 0   #000000,
    3px  3px 0   #000000;
}
.imageDownloader:active {
    color: #ecdc45;
    background-color: rgb(123, 67, 213);
    opacity: 1;
}


