.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin-bottom: 5px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px 0 1px 10px;
    margin: 5px 10px 10px 0;
    background-color: #bbdece;
    border-radius: 5px;
}
